.not-found-container {
    background: linear-gradient(
        to bottom right,
        rgba(255, 255, 255, 0.9),
        rgba(255, 255, 255, 0.95)
      ),
      url('../../assets/pattern.svg');
    background-size: cover;
  }
  
  .error-emoji {
    animation: bounce 2s infinite;
  }
  
  @keyframes bounce {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
  }